@charset "UTF-8";

/*=============================
=            Fonts            =
=============================*/

$roboto : 'Roboto', sans-serif;
$raleway : 'Raleway', sans-serif;
$fontawesome : 'FontAwesome', sans-serif;
$arial : Arial, "Helvetica Neue", Helvetica, sans-serif;

/*=====  End of Fonts  ======*/
