@charset "UTF-8";

/*======================================
=            Slider wrapper            =
======================================*/

$slider-height : 623px;

.slider-wrapper{
	@extend %left-wide;
	background: $gray;
	height: $slider-height;
	background: {
		image: url(../images/pattern.png);
		color: $red;
	}

	@media screen and (max-width: 375px) {
		height: 500px;
	}
}

/*=====  End of Slider wrapper  ======*/


/*==============================
=            Slider            =
==============================*/

$slider-inner-height : 100%;

.slider{
	@extend %left-wide;
	height: 100%;
	

	// Slides
	.slides{
		@extend %left-wide;
		height: $slider-inner-height;
		list-style-type: none;
		margin: 0;
		padding: 0;

		// Slide
		.slide{
			@extend %left-wide;
			height: $slider-inner-height;
			color: $white;
			background: {
				size: cover;
				position: top center;
				repeat: no-repeat;
			}
			position: relative;

			.image-block{
				height: inherit;
				float: right;
				width: 60%;
				background: {
					position: left;
					size: cover;
				}
				@media screen and (max-width: 480px) {
					width: 100%;
				}
			}

			.container{
				color: $white;
				height: inherit;
				position: relative;
				.col{
					position: absolute;
					height: inherit;
					width: 60%;
					@media screen and (max-width: 680px) {
						width: 100%;
						left: 0;
						right: 0;
						padding: 0 15px;
					}
					.content{
						@extend %vertical-center;
						position: absolute;
						left: 0;
						right: 0;

						@media screen and (max-width: 680px) {
							padding: 0 15px;
						}
					}
					.title{
						@extend %left-wide;
						font-size: 69px;
						font-weight: 900;
						text-transform: uppercase;
						line-height: 1.2;
						margin-bottom: 30px;

						span{
							@extend %left-wide;
						}

						.lite{
							font-weight: 400;
							font-size: 54px;
						}

						@media screen and (max-width: 1190px) {
							font-size: 50px;
							.lite{
								font-size: 50px;
							}
						}

						@media screen and (max-width: 680px) {
							font-size: 40px;
							.lite{
								font-size: 40px;
							}
						}

						@media screen and (max-width: 480px) {
							font-size: 25px;
							.lite{
								font-size: 30px;
							}
						}

						@media screen and (max-width: 375px) {
							font-size: 25px;
							.lite{
								font-size: 25px;
							}
						}

						@media screen and (max-width: 320px) {
							font-size: 22px;
							.lite{
								font-size: 22px;
							}
						}
					}
					p{
						@extend %left-wide;
						margin-bottom: 40px;
						font-size: 17px;
						width: 60%;

						@media screen and (max-width: 375px) {
							width: 100%;
						}
					}
					.btn{
						font-weight: 900;
						font-size: 17px;
						min-height: 47px;
						min-width: 180px;
					}
				}
			}
		}
	}
}

/*=====  End of Slider  ======*/
	