@charset "UTF-8";

/*=======================================
=            Thumbnail Block            =
=======================================*/

.thumbnail-block{
	text-align: center;

	@media screen and (max-width: 767px) {
		margin-bottom: 30px;

		&:last-child{
			margin-bottom: 0;
		}
	}

	.title{
		font-weight: 900;
		font-size: 26px;
		margin-bottom: 20px;
	}

	.description{
		color: #7a7a7a;
	}
}

/*=====  End of Thumbnail Block  ======*/